{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li class="login">
        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.email }}</a>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">Выход</a>
    </li>
{% else %}
    <li class="login">
    <a data-toggle="modal" href="#form-sign-up">Вход в магазин</a>
    <div class="modal fade" id="form-sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Вход в магазин</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppMainBundle:Security:sinInForm')) }}
                </div>
                {#<div class="modal-footer">#}
                {#<a href="{{ path('fos_user_registration_register') }}" class="btn td-btn"></a>#}
                {#</div>#}
            </div>
        </div>
    </div>
    </li>
{% endif %}
