<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head>
    <meta charset="UTF-8" />
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {#filter="yui_css"#}
        {% stylesheets

        output='css/compiled/main.css'
        "@AppMainBundle/Resources/assets/css/main.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="layout">
{% block body %}
    <div class="layout-header">
        <div class="navbar" role="navigation">
            <ul class="first">
                <li class="">
                    <a href="">
                        Обратная связь
                    </a>
                </li>
                <li class="">
                    <a href="">
                        Контакты
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="second">
                <li class="">
                    <a href="">
                        О Компании
                    </a>
                </li>
                <li class="">
                    <a href="">
                        Оплата и Доставка
                    </a>
                </li>
                <li class="">
                    <a href="">
                        Кредит
                    </a>
                </li>
                <li class="">
                    <a href="">
                        Сервис
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="third">
                <li class="login">
                    <a href="">
                        Вход в магазин
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-search">
        <h1 class="logo">
            <a href="{{ path('app_main_homepage') }}">
                technodevice.com.ua
            </a>
        </h1>
        <div class="search-block">
            <div class="content">
                <span class="phones">0472 00-00-00, 093 000-00-00</span>
                <a class="cart" href="#">
                    Моя корзина
                </a>
                <div class="clearfix"></div>
                <div class="input-group">
                    <form>
                        <input class="form-control" type="text" placeholder="Поиск среди 60 000 товаров">
                        <button class="">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-site">
        <div class="layout-left">
            <div class="info-block">
                <h2 class="header">КАТАЛОГ</h2>
                {% render(controller('AppMainBundle:Default:renderCategoryMenu')) %}
            </div>
            <div class="info-block">
                <h2 class="header">
                    <a href="#">
                        АКЦИИ И СКИДКИ
                    </a>
                </h2>
                <img src="{{ asset('img/fix-action.png') }}">
            </div>
        </div>
        <div class="layout-main">
            <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
            <div class="layout-content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-footer">
        <div class="grey">
            <div class="container">
                <div class="map">
                    <h3>Мы работаем по всей Украине!</h3>
                    <img src="{{ asset('img/img-footer-map.png') }}">
                </div>
                <div class="schedule">
                    <h3 class="header">
                        <div>График работы</div>
                    </h3>
                    <ul>
                        <li>
                            Пн.-Пт.: с 9:00 до 20:00
                        </li>
                        <li>
                            Сб.: с 9:00 до 18:00
                        </li>
                        <li>
                            Нд.: с 11:00 до 17:00
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <h3 class="header">
                        <div>Меню</div>
                    </h3>
                    <ul>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">Вопрос - ответ</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">Доставка и оплата</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">Оформить кредит</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">Сервис и гарантия</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">О магазине</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blue">
            <div class="container">
                <div class="left">Все права защищены &copy; 2013</div>
                <div class="right"><a href="http://torri.com.ua" target="_blank">Разработка и поддержка</a> сайта студия <a href="http://torri.com.ua" target="_blank"><img src="{{ asset('img/icon-torri.png') }}"></a></div>
            </div>
        </div>
    </div>

{% endblock %}
</body>

{% block javascripts %}
    {#filter="yui_js"#}
    {% javascripts

    output='js/compiled/main.js'
    "../vendor/jlong/sass-twitter-bootstrap/assets/js/jquery.js"
    "../src/App/MainBundle/Resources/assets/js/jquery.menu-aim.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/dropdown.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/tooltip.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/carousel.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/modal.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/transition.js"
    %}
    {#"../web/libs/lightbox/js/lightbox-2.6.min.js"#}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        "use strict";
        var jmenu;
        jQuery(document).ready(function(){
            jmenu = $(".menu-aim");

            // jQuery-menu-aim: <meaningful part of the example>
            // Hook up events to be fired on menu row activation.
            jmenu.menuAim({
                activate: window.activateSubmenu,
                deactivate: window.deactivateSubmenu
            });

            jQuery(document).click(function() {
                // Simply hide the submenu on any click. Again, this is just a hacked
                // together menu/submenu structure to show the use of jQuery-menu-aim.
                jQuery(".menu-row").css("display", "none");
                jQuery("a.maintain-hover").removeClass("maintain-hover");
                jmenu.trigger('mouseleave');
            });
        });

        var activateSubmenu = function(row){
            var jrow = jQuery(row),
                    jsubmenu = jrow.find('.menu-row'),
                    jrow_height = jrow.outerHeight(),
                    jsubmenu_height = jsubmenu.outerHeight(),
                    jrow_width = jrow.outerWidth();

            if (jrow.data('rowId') !== undefined){
                jsubmenu = jQuery('#'+jrow.data('rowId'));
            }else{
                jsubmenu.css({
                    top: 0,
                    left: jrow_width - 0  // main should overlay submenu
                });
            }

            jsubmenu.css({
                display: "block"
            });

            // Keep the currently activated row's highlighted look
            jrow.find("> a").addClass("maintain-hover");
        }

        var deactivateSubmenu= function(row) {
            var jrow = jQuery(row),
                    jsubmenu = jrow.find('.menu-row'),
                    height = jmenu.outerHeight(),
                    width = jmenu.outerWidth();
            if (jrow.data('rowId') !== undefined){
                jsubmenu = jQuery('#'+jrow.data('rowId'));
            }

            // Hide the submenu and remove the row's highlighted look
            jsubmenu.css("display", "none");
            jrow.find("a").removeClass("maintain-hover");
        }
    </script>
{% endblock %}
</html>
