{% block init %}{% endblock %}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }} {% block html_attr %}{% endblock %}>
<head>
    <meta charset="UTF-8" />
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('libs/lightbox/css/lightbox.css') }}" media="screen"/>
        {#filter="yui_css"#}
        {% stylesheets
        output='css/compiled/main.css'
        "@AppMainBundle/Resources/assets/css/main.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('libs/select2/select2.css') }}" media="all"/>

</head>
<body class="layout">
{% block body %}
    <div class="layout-header">
        <div class="navbar" role="navigation">
            <ul class="first">
                <li class="">
                    <a href="{{ path('app_main_feedback_form') }}">
                        Обратная связь
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('rid_page_show', {slug:'contacts'}) }}">
                        Контакты
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="second">
                <li class="">
                    <a href="{{ path('rid_page_show', {slug:'about'}) }}">
                        О Компании
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('rid_page_show', {slug:'delivery'}) }}">
                        Оплата и Доставка
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('rid_page_show', {slug:'credit'}) }}">
                        Кредит
                    </a>
                </li>
                <li class="">
                    <a href="{{ path('rid_page_show', {slug:'service'}) }}">
                        Сервис
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
            <ul class="third">
                {% include 'AppMainBundle:Security/partials:_userbar.html.twig' %}
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-search">
        <h1 class="logo">
            <a href="{{ path('app_main_homepage') }}">
                technodevice.com.ua
            </a>
        </h1>
        <div class="search-block">
            <div class="content">
                <span class="phones">0472 35-92-85, 093 731-85-03</span>
                {% set cart = get_current_cart() %}
                <a class="cart" href="{{ path('app_main_cart_list') }}">
                    Моя корзина <span ng-bind="cartCountBind">{{ cart.getCountHtml() }}</span>
                </a>
                <div class="clearfix"></div>
                <div class="input-group">
                    <form action="{{ path('app_main_product_list', {id:'all'}) }}" method="get">
                        <input class="form-control" name="q" type="text" placeholder="Поиск среди 60 000 товаров">
                        <button class="">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-site">
        <div class="layout-left">
            <h2 class="header">
                <a href="{{ path('app_main_homepage') }}">
                    КАТАЛОГ
                </a>
            </h2>
        </div>
        <div class="layout-main">
            <div class="breadcrumbs">
                <a href="{{ path('app_main_homepage') }}">Главная</a>{% block breadcrumbs %}{% endblock %}
                {#<a href="#">asdasdasd  ad</a> &rarr; <span class="text-muted">asd ad asd asd asd</span>#}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="layout-site">
        <div class="layout-left">
            {% block layout_left %}
                <div class="info-block {% block left_menu_classes %}{% endblock %}">
                    {% render(controller('AppMainBundle:Default:renderCategoryMenu')) %}
                </div>

                <div class="info-block">
                    <h2 class="header">
                        <a href="{{ path('rid_page_show', {slug:'actions'}) }}">
                            АКЦИИ И СКИДКИ
                        </a>
                    </h2>
                    <a href="{{ path('rid_page_show', {slug:'actions'}) }}">
                        {% render(controller('AppMainBundle:Default:renderLastAction')) %}
                    </a>
                </div>
            {% endblock %}
        </div>
        <div class="layout-main">
            <div class="layout-content">
                {% block flash_message %}
                    {% include 'AppMainBundle:partials:_flash.html.twig' %}
                {% endblock %}
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="clearfix"></div>
        {% block wide_content %}
        {% endblock %}
    </div>
    <div class="clearfix"></div>
    <div class="layout-footer">
        <div class="grey">
            <div class="container">
                <div class="map">
                    <h3>Мы работаем по всей Украине!</h3>
                    <img src="{{ asset('img/img-footer-map.png') }}">
                </div>
                <div class="schedule">
                    <h3 class="header">
                        <div>График работы</div>
                    </h3>
                    <ul>
                        <li>
                            Пн.-Пт.: с 9:00 до 20:00
                        </li>
                        <li>
                            Сб.: с 9:00 до 18:00
                        </li>
                        <li>
                            Нд.: с 11:00 до 17:00
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <h3 class="header">
                        <div>Меню</div>
                    </h3>
                    <ul>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'faq'}) }}">Вопрос - ответ</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'delivery'}) }}">Доставка и оплата</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'credit'}) }}">Оформить кредит</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'service'}) }}">Сервис и гарантия</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'about'}) }}">О магазине</a>
                        </li>
                        <li>
                            <span class="arrow-box-right"></span>
                            <a href="{{ path('rid_page_show', {slug:'contacts'}) }}">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blue">
            <div class="container">
                <div class="left">Все права защищены &copy; 2013</div>
                <div class="right"><a href="http://torri.com.ua" target="_blank">Разработка и поддержка</a> сайта студия <a href="http://torri.com.ua" target="_blank"><img src="{{ asset('img/icon-torri.png') }}"></a></div>
            </div>
        </div>
    </div>

{% endblock %}
</body>

{% block javascripts %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {#filter="yui_js"#}
    {% javascripts

    output='js/compiled/main.js'
    "../src/App/MainBundle/Resources/assets/js/uri.js"
    "../vendor/jlong/sass-twitter-bootstrap/assets/js/jquery.js"
    "../src/App/MainBundle/Resources/assets/js/jquery.menu-aim.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/dropdown.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/tooltip.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/collapse.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/carousel.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/modal.js"
    "../vendor/jlong/sass-twitter-bootstrap/js/transition.js"
    "../www.technodevice.com.ua/libs/angular/js/angular.min.1.1.5.js"
    %}
    {#"../web/libs/lightbox/js/lightbox-2.6.min.js"#}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ asset('libs/lightbox/js/lightbox-2.6.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('libs/select2/select2.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        "use strict";
        var jmenu;
        jQuery(document).ready(function(){
            jmenu = jQuery(".menu-aim");

            // jQuery-menu-aim: <meaningful part of the example>
            // Hook up events to be fired on menu row activation.
            jmenu.menuAim({
                activate: window.activateSubmenu,
                deactivate: window.deactivateSubmenu
            });

            jQuery(document).click(function() {
                // Simply hide the submenu on any click. Again, this is just a hacked
                // together menu/submenu structure to show the use of jQuery-menu-aim.
                jQuery(".menu-row").css("display", "none");
                jQuery("a.maintain-hover").removeClass("maintain-hover");
                jmenu.trigger('mouseleave');
            });

            jQuery('.apply-tooltip').tooltip({
            });
        });

        var activateSubmenu = function(row){
            var jrow = jQuery(row),
                    jsubmenu = jrow.find('.menu-row'),
                    jrow_height = jrow.outerHeight(),
                    jsubmenu_height = jsubmenu.outerHeight(),
                    jrow_width = jrow.outerWidth();

            if (jrow.data('rowId') !== undefined){
                jsubmenu = jQuery('#'+jrow.data('rowId'));
            }else{
                jsubmenu.css({
                    top: 0,
                    left: jrow_width - 0  // main should overlay submenu
                });
            }

            jsubmenu.css({
                display: "block"
            });

            // Keep the currently activated row's highlighted look
            jrow.find("> a").addClass("maintain-hover");
        }

        var deactivateSubmenu= function(row) {
            var jrow = jQuery(row),
                    jsubmenu = jrow.find('.menu-row'),
                    height = jmenu.outerHeight(),
                    width = jmenu.outerWidth();
            if (jrow.data('rowId') !== undefined){
                jsubmenu = jQuery('#'+jrow.data('rowId'));
            }

            // Hide the submenu and remove the row's highlighted look
            jsubmenu.css("display", "none");
            jrow.find("a").removeClass("maintain-hover");
        }
    </script>
{% endblock %}
</html>
