{% extends 'AppMainBundle::layout.html.twig' %}

{% block layout_left %}
    <div class="info-block hidden">
        {% render(controller('AppMainBundle:Default:renderCategoryMenu')) %}
    </div>
{% endblock %}

{% block wide_content %}
    <div class="clearfix"></div>
    <div class="app-main cart list">
        {% if cart.items.count > 0 %}
            <form action="{{ path('app_main_cart_save') }}" method="post">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <td class="c1">№</td>
                        <td class="c2">Фото товара</td>
                        <td>Наименование товара</td>
                        <td>Количество</td>
                        <td>Стоимость</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart.items %}
                        {% set product = item.product %}
                        <tr>
                            <td class="c1">
                                <span class="index">{{ loop.index }}</span>
                                <div class="clear"></div>
                                <a class="btn btn-default apply-tooltip" title="Удалить" href="{{ path('app_main_cart_deleteitem', {id: item.id}) }}">X</a>
                            </td>
                            <td class="c2"><img src="{{ asset(product.image.cart) }}"></td>
                            <td>{{ product }}</td>
                            <td>
                                <input name="cart[items][{{ item.id }}][quantity]" class="form-control quantity" value="{{ item.quantity }}" type="number">
                            </td>
                            <td><span class="price">{{ item.price|number_format(0, ' ', ' ') }} <span class="price-desc">грн.</span></span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="cart-bottom">
                    <div class="pull-left price-total">
                        <span class="price-label">Всего: </span>
                        <span class="price">{{ cart.total|number_format(0, ' ', ' ') }} <span class="price-desc">грн.</span></span>
                    </div>
                    <div class="pull-left btns-block">
                        {% include 'AppMainBundle:Misc:_btn_back_to_shop.html.twig' %}
                        <button class="btn td-btn apply-tooltip" title="Сохранить изменения и пересчитать стоимость">Сохранить</button>
                        <a href="#" class="btn td-btn-bay pull-right"><span class="icon-bay"></span> Оформить заказ</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        {% else %}
            {% include 'AppMainBundle:Misc:_btn_back_to_shop.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
