{% extends 'AppMainBundle::layout.html.twig' %}
{% block content %}
    <div class="app-main default index">
        <div id="carousel-example-captions" class="apply-carousel carousel slide bs-docs-carousel-example">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                <li data-target="#carousel-example-captions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img data-src="{{ asset('img/fix-product.png') }}" src="{{ asset('img/fix-product.png') }}" alt="First slide image">
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="item">
                    <img data-src="{{ asset('img/fix-product.png') }}" src="{{ asset('img/fix-product.png') }}" alt="Second slide image">
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img data-src="{{ asset('img/fix-product.png') }}" src="{{ asset('img/fix-product.png') }}" alt="Third slide image">
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div class="clearfix"></div>
        {% include 'AppMainBundle:Category/partials:_list_wrapper.html.twig' with { categories: categories } %}
        <div class="clearfix"></div>
        {% render(controller('RidPageBundle:Page:renderPage', {slug: 'homepage'})) %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.apply-carousel').carousel();
        });
    </script>
{% endblock %}
