{% extends 'AppMainBundle::layout.html.twig' %}
{% block content %}
    <div class="app-main default index">
        <div id="carousel-example-captions" class="apply-carousel carousel slide bs-docs-carousel-example">
            <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-target="#carousel-example-captions" data-slide-to="{{ loop.index-1 }}" class="{{ loop.first ? 'active' }}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="item {{ loop.first ? 'active' }}">
                        <img data-src="{{ asset(slide.image.mid) }}" src="{{ asset(slide.image.mid) }}" alt="">
                        <div class="carousel-caption">
                            <h3>{{ slide.title }}</h3>
                            <p>{{ slide.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div class="clearfix"></div>
        {% include 'AppMainBundle:Category/partials:_list_wrapper.html.twig' with { categories: categories } %}
        <div class="clearfix"></div>
        {% render(controller('RidPageBundle:Page:renderPage', {slug: 'homepage'})) %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.apply-carousel').carousel();
        });
    </script>
{% endblock %}
