{% extends base_template %}

{% block content %}
    <div class="app-admin security login">
        <h1 class="title">{{ 'Вход в систему'|trans }}</h1>

        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}

        <form action="{{ path("app_admin_security_check") }}" method="post" id="login">
            <div>
                <label for="username">{{ 'Логин'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div>
                <label for="password">{{ 'Пароль'|trans }}</label>
                <input type="password" id="password" name="_password" />
            </div>

            <button type="submit" class="btn btn-primary">{{ 'Далі'|trans }}</button>
        </form>
    </div>
{% endblock %}
