{% block form_row %}
    {% set isEmpty = form.vars.value == '' or (form.vars.value.min is defined and form.vars.value.min == '' and form.vars.value.max == '') or (form.vars.block_prefixes[1] in ['checkbox'] and not checked) %}
    {% set isText = form.vars.block_prefixes[1] in ['text'] %}
    {% set isCheckbox = form.vars.block_prefixes[1] in ['checkbox'] %}
    {% set isBetween = form.vars.block_prefixes[1] in ['between'] %}
    {% set isChoice = form.vars.block_prefixes[1] in ['choice'] %}
    {% set isBrandCheckboxes = form.vars.block_prefixes[1] in ['brand_checkboxes'] %}
    {% set isEmpty = isBrandCheckboxes ? isBrandFilterEmpty(form.vars.value) : isEmpty  %}
    <li class="product-filter">
        <h4 data-toggle="f-collapse" class="{{ isEmpty ? 'f-collapsed' : '' }}" data-target="#f-{{ form.vars.id }}">
            <span class="arrow-box-right"></span><span class="filter-label">{{ form.vars.label }}</span>
        </h4>
        <div class="clearfix"></div>
        <div class="body {{ isEmpty ? 'f-collapsed' : '' }}" id="f-{{ form.vars.id }}">
            {% if isText %}
                {{ form_widget(form, {'attr':{'class' : 'form-control'}}) }}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            {% if form.vars.block_prefixes[1] not in ['between', 'checkbox'] %}
                <button class="btn td-btn f-ok-btn {{ isChoice ? 'is-choice' }}">OK</button>
            {% endif %}
            {% if form.vars.block_prefixes[1] not in ['brand_checkboxes'] %}
                <div class="clearfix"></div>
            {% endif %}
            <a class="f-reset-btn">Сбросить фильтр</a>
        </div>
        <div class="clearfix"></div>
    </li>
{% endblock %}

{% block between_widget %}
    <div class="between_widget">
        <label class="min">от: <div class="clearfix"></div>{{ form_widget(form.min, {'attr':{'class' : 'form-control'}}) }}</label>
        <label class="max">до: <div class="clearfix"></div>{{ form_widget(form.max, {'attr':{'class' : 'form-control'}}) }}</label>
        <button class="btn td-btn f-ok-btn">OK</button>
    </div>
{% endblock %}

{% block checkbox_widget %}
    {% spaceless %}
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            Да</label>
    {% endspaceless %}
{% endblock %}

