{% macro parentCategory(category) %}
    {% if category is not null %}
        {{ _self.parentCategory(category.parent) }} &rarr; <a href="{{ path('app_main_product_list', {id: category.id}) }}">{{ category.name }}</a>
    {% endif %}
{% endmacro %}

{% macro category(category) %}
    {% if category is not null %}
        {{ _self.parentCategory(category.parent) }} &rarr; <span class="text-muted">{{ category.name }}</span>
    {% else %}
        &rarr; <span class="text-muted">Поиск</span>
    {% endif %}

{% endmacro %}

{% macro product(product) %}
    {{ _self.parentCategory(product.category) }} &rarr; <span class="text-muted">{{ product.name }}</span>
{% endmacro %}

{% macro rid_page(page) %}
    &rarr; <span class="text-muted">{{ page.title }}</span>
{% endmacro %}

{% macro cart(cart) %}
    &rarr; <span class="text-muted">Корзина</span>
{% endmacro %}

{% macro parentCart() %}
    &rarr; <a href="{{ path('app_main_cart_list') }}">Корзина</a>
{% endmacro %}

{% macro checkout() %}
    {{ _self.parentCart() }} &rarr; <span class="text-muted">Оформление заказа</span>
{% endmacro %}

{% macro feedback() %}
    &rarr; <span class="text-muted">Контакты</span>
{% endmacro %}
