{% extends base_template %}

{% set form = form.createView() %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Импорт</li>
{% endblock %}

{% block content %}
    {% set formView = form %}
    <div class="app-admin xls form">
        {{ form_start(formView) }}
            {{ form_widget(formView) }}
        {{ form_end(formView) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        "use strict";
        jQuery(document).ready(function(){

        });
    </script>
{% endblock %}
