{% extends base_template %}

{% set form = form.createView() %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider">/</span></li>
    <li class="active">Импорт</li>
{% endblock %}

{% block content %}
    {% set formView = form %}
    <div ng-app ng-controller="ImportFormCtrl">
        <div class="app-admin xls form ng-cloak" >
            <div class="ng-cloak" ng-cloak ng-show="!flag.status">
                {{ form_start(formView) }}
                {{ form_widget(formView) }}
                {{ form_end(formView) }}
            </div>
            <div class="ng-cloak" ng-cloak ng-show="flag.status">
                Импорт еще не закончен.
                {% raw %}{{ flag.done }}{% endraw %} / {% raw %}{{ flag.total }}{% endraw %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        "use strict";
        var ImportFormCtrl = function($scope, $http, $timeout){
            $scope.flag = {
                status: true,
                total: 0,
                done: 0
            }

            var checkStatus = function(){
                $http.get('{{ path('app_admin_xls_status') }}')
                        .then(function(response){
                            var data = response.data;
                            console.log(data);
                            $scope.flag = data;
                        });
            }

            var checkStatusTimeOuted = function(){
                $timeout(function(){
                    if ($scope.flag.status){
                        checkStatus();
                        checkStatusTimeOuted();
                    }
                }, 2000);
            }

            checkStatus();
            checkStatusTimeOuted();
        }
    </script>
{% endblock %}
