{% extends 'AppMainBundle::layout.html.twig' %}

{% import 'AppMainBundle:Macros:breadcrambs.html.twig' as breadcrambs %}
{% block breadcrumbs %}{{ breadcrambs.category(category) }}{% endblock %}

{% form_theme filterForm 'AppMainBundle:Form:product_filter_fields.html.twig' %}
{% if filterForm.vars.withBrands %}
    {% form_theme filterForm.brands 'AppMainBundle:Form:product_filter_brand.html.twig' %}
{% endif %}

{% block layout_left %}
    <div class="info-block product-filter-block">
        <form action="{{ path('app_main_product_list', {id:app.request.get('id')}) }}" method="get">
            <h3 class="filter-head">Подобрать по параметрам</h3>
            <ul class="product-filter-list">
                {{ form_widget(filterForm) }}
            </ul>
        </form>
    </div>
{% endblock %}

{% block content %}
    {% from 'AppMainBundle:Macros:misc.html.twig' import pagination %}
    <div class="app-main category show">
        {% include 'AppMainBundle:Product/partials:_list_wrapper.html.twig' with { products: products } %}
    </div>
    {{ pagination(products) }}

    {% if category is not null and category.page is not null %}
        <div class="clearfix"></div>
        {% render(controller('RidPageBundle:Page:renderPage', {slug: category.page.slug})) %}
        {{ rid_page_setup_seo(category.page.slug) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.f-select2').select2({
                width: 195
            });

            var resetFilter = function(event){
                var uri = parseUri(window.location);
                window.location = uri.protocol + '://' + uri.host + uri.path;
            }
            jQuery('.f-reset-btn').each(function(){
                jQuery(this).on('click', resetFilter);
            });

            var toggleFilterBody = function(event){
                var element = jQuery(this);
                var body = jQuery(element.data('target'));
                if(element.hasClass('f-collapsed')){
                    element.removeClass('f-collapsed');
                    body.slideDown(300);
                }else{
                    element.addClass('f-collapsed');
                    body.slideUp(300);
                }
            }
            jQuery('[data-toggle="f-collapse"]').each(function(){
                jQuery(this).on('click', toggleFilterBody);
            });

            var submitParentForm = function(){
                jQuery(this).closest('form').submit();
            }

            jQuery('.f-checkbox').each(function(){
                jQuery(this).on('change', submitParentForm);
            });
        });
    </script>
{% endblock %}