{% extends 'AppMainBundle::layout.html.twig' %}

{% block html_attr %}ng-controller="MainCtrl" id="ng-app" ng-app="ProductShowApp"{% endblock %}

{% import 'AppMainBundle:Macros:breadcrambs.html.twig' as breadcrambs %}
{% block breadcrumbs %}{{ breadcrambs.product(product) }}{% endblock %}

{% block layout_left %}
    <div class="info-block hidden">
        {#{% render(controller('AppMainBundle:Default:renderCategoryMenu')) %}#}
    </div>
    <div class="info-block">
        <div class="app-main product show">
            <a class="img-wrapper" href="{{ asset(product.image) }}" data-lightbox="roadtrip">
                <img src="{{ asset(product.image.show) }}" width="280" height="195">
                <div class="btn-zoom">
                    <div class="icon-zoom"></div>
                </div>
            </a>
            <div class="small-images">
                <a class="img-small" href="{{ asset(product.image2) }}" data-lightbox="roadtrip">
                    <img src="{{ asset(product.image2.tiny) }}">
                </a>
                <a class="img-small" href="{{ asset(product.image3) }}" data-lightbox="roadtrip">
                    <img src="{{ asset(product.image3.tiny) }}">
                </a>
                <a class="img-small" href="{{ asset(product.image4) }}" data-lightbox="roadtrip">
                    <img src="{{ asset(product.image4.tiny) }}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="app-main product show">
        <h2>{{ product.name }}</h2>
        <span class="text-muted">Код товара: {{ product.code }}</span>
        <div class="clearfix"></div>
        {% if (product.brand) %}
            <span class="text-muted">Производитель: {{ product.brand }}</span>
            <div class="clearfix"></div>
        {% endif %}
        <p class="short-info">{{ product.info }}</p>
        <div class="clearfix"></div>
        <span class="price">{{ product.price|number_format(0, ' ', ' ') }} <span class="price-desc">грн.</span></span>
        <div class="clearfix"></div>
        {% if not product.isPresent %}
            Нет в наличии.
        {% else %}
            <button class="btn td-btn-bay" ng-click="postBay()"><span class="icon-bay"></span> <span ng-show="!loading">Купить</span><span ng-show="loading" ng-cloak class="ng-cloak">Загрузка...</span></button>
        {% endif %}

    </div>
{% endblock %}

{% block wide_content %}
    <div class="clearfix"></div>
    <div class="app-main product show-wide">
        <ul class="tabs">
            <li class="active"><a href="#" data-btn="1">Обзор</a></li>
            <li class=""><a href="#" data-btn="2">Характеристики</a></li>
            <li class=""><a href="#" data-btn="3">Отзывы</a></li>
        </ul>

        <div class="tab-content" data-tab="1" style="display: block;">
            <h2>{{ product.name }}</h2>
            <div class="description text-muted">
                {{ product.description|format_text(product.descriptionFormatter)|raw }}
            </div>
        </div>

        <div class="tab-content" data-tab="2">
            <div class="description">
                <table class="table">
                    {% for property in product.productProperties %}
                        <tr>
                            <td>
                                {{ property.title }}
                            </td>
                            <td>
                                {{ property.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="tab-content" data-tab="3">
            <div class="description text-muted">
                <button class="btn td-btn pull-right" id="mention-box-btn">Оставить отзыв</button>
                <div id="mention-box" style="display: none;">
                    {{ render(url('app_main_mention_form', {id:product.id })) }}
                </div>
                <div class="clearfix"></div>
                <ul>
                    {% for mention in product.mentions %}
                        <li>
                            <span class="text-blue">{{ mention.fio }}</span> <span class="text-muted">{{ mention.email }} | {{ mention.createdAt|date('d-m-Y H:i') }}</span>
                            <div class="clearfix"></div>
                            <p>
                                {{ mention.comments }}
                            </p>
                            <hr>
                        </li>
                    {% else %}
                        Оставте первый отзыв.
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dialog-post-bay-success" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    Товар <em><i>{{ product.name }}</i></em> помещен в корзину
                </div>
                <div class="modal-body">
                    {% include 'AppMainBundle:Misc:_btn_back_to_shop.html.twig' %}
                    <a class="btn td-btn-bay pull-right" href="{{ path('app_main_cart_list') }}"><span class="icon-bay"></span> <span>Оформить заказ</span></a>
                </div>
                {#<div class="modal-footer">#}
                {#<a href="{{ path('fos_user_registration_register') }}" class="btn td-btn"></a>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% set cart = get_current_cart() %}
    <script type="text/javascript">
        'use strict';
        var app = angular.module('ProductShowApp', [])
                .config(['$httpProvider', function($httpProvider) {
                    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
                }])
                .controller('MainCtrl', function ($scope, $http) {
                    $scope.cartCountBind = '';
                    $scope.loading = false;
                    var cartCount={{ cart.count }};
                    var setCartCount = function(count){
                        $scope.cartCountBind = count<=0 ? '' : '('+count+')';
                    };
                    $scope.postBay = function(){
                        if ($scope.loading) {return;}
                        $scope.loading = true;
                        $http.post('{{ path('app_main_cart_additem', {'id': product.id}) }}')
                                .then(function(response){
                                    cartCount += response.data.count;
                                    setCartCount(cartCount);
                                    angular.element('#dialog-post-bay-success').modal();
                                    $scope.loading = false;
                                });
                    }

                    setCartCount(cartCount);
                });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#mention-box-btn').click(function(){
                jQuery(this).hide();
                jQuery('#mention-box').slideDown(300);
            });

            jQuery('.tabs a').each(function(){
                jQuery(this).on('click', function(e){
                    jQuery('.tabs li').removeClass('active');
                    var btnN = jQuery(this).data('btn');
                    jQuery('.tab-content').hide();
                    jQuery(this).parent().addClass('active');

                    jQuery('.tab-content').each(function(){
                        var tabN = jQuery(this).data('tab');
                        if(tabN == btnN){
                            jQuery(this).show();
                        }
                    });

                    e.preventDefault();
                    return false;
                });
            });
        });
    </script>
{% endblock %}
